@mixin button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px 0 5px;

	height: 50px;
	background-color: white;
	border-style: solid;
	border-color: black;
}

.size10 {
	@include button;
	width: 50px
}

.size20 {
	@include button;
	width: 85px;
}

.size25 {
	@include button;
	width: 100px;
}

.size30 {
	@include button;
	width: 120px;
}

.size40 {
	@include button;
	width: 135px;
}

.size50 {
	@include button;
	width: 168px;
}

.size100 {
	@include button;
	width: 500px;
}

.hidden {
	visibility: hidden;
}

.showHighlight {
	background-color: red;
}

.hightlightModifier {
	background-color: mediumpurple;
}