.container {
	display: flex;
	flex-direction: column;
	//align-items: flex-start;
	width: 1028px;
	justify-content: flex-start;
}

.header {
	align-self: center;
}

.itemsContainer {
	width: 100%;
	font-size: 28px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.item {
	display: flex;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.keycode {
	width: 120px;
	margin: 5px;
}

.modifiers {
	width: 300px;
	margin: 5px;
}

.description {
	width: 400px;
	margin: 5px;
}

.achievedBy {
	width: 120px;
	margin: 5px;
}
