@mixin button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px 0 5px;

	height: 50px;
	background-color: white;
	border-style: solid;
	border-color: black;
}

.size1 {
	@include button;
	width: 50px
}

.size2 {
	@include button;
	width: 70px;
}

.size3 {
	@include button;
	width: 120px;
}

.size4 {
	@include button;
	flex-grow: 5;
}

.size5 {
	@include button;
	flex-grow: 6;
}