@mixin row {
	display: flex;
	height: 70px;
}

.row1 {
	@include row;
}

.row2 {
	@include row;
}

.row3 {
	@include row;
}

.row4 {
	@include row;
}

// 好像没必要 row 12345, 算了，反正写都写了
.row5 {
	@include row;
}