.keyboardContainer {
	display: flex;
	flex-direction: column;
	width: 1028px;
}

@mixin row {
	display: flex;
	height: 70px;
}

.row1 {
	@include row;
}

.row2 {
	@include row;
}

.row3 {
	@include row;
}

.row4 {
	@include row;
}

// 好像没必要 row 12345, 算了，反正写都写了
.row5 {
	@include row;
}

.config {
	width: 800px;
}